**/target/
**/.settings/
**/.project
**/.classpath
**/.springBeans
*.log
*.gz
/log/
/bestxengine-cs/log/
/bestx-sod-loader/log/
/bestxengine-cs/katalon-bx.log
/bestxengine-cs/katalon-qf.log
/bestxengine-cs/mqjms.log*
/bestx-mq-jmx-client-app/mqjms.log*

